/* GRIDS SIZES */
/* COLORS */
/* FONTS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  position: relative; }

body {
  background-color: #f7f7f7;
  font-family: "UbuntuFont", Arial, sans-serif;
  font-weight: 500;
  color: #36383c; }

@font-face {
  font-family: "UbuntuFont";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Ubuntu-R.ttf"); }

@font-face {
  font-family: "UbuntuFont";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Ubuntu-M.ttf"); }

@font-face {
  font-family: "UbuntuFont";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Ubuntu-B.ttf"); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-list {
  position: relative;
  z-index: 1111; }
  .slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 100px;
  width: 35px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  padding-left: 0;
  border: none;
  outline: none;
  transition: 0.1s ease-in;
  z-index: 111; }
  .slick-prev:after,
  .slick-next:after {
    content: '';
    position: absolute;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/svg/Slider-Arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 17px; }

.slick-prev {
  left: -30px; }
  .slick-prev:after {
    transform: rotate(180deg); }
  .slick-prev:hover {
    left: -35px; }
    .slick-prev:hover:after {
      background-position: 15px center; }

.slick-next {
  right: -30px; }
  .slick-next:hover {
    right: -35px; }
    .slick-next:hover:after {
      background-position: 15px center; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 2222; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:hover {
        outline: none; }
        .slick-dots li button:hover:before {
          background: rgba(255, 255, 255, 0.35); }
      .slick-dots li button:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid #fff; }
    .slick-dots li.slick-active button:before {
      background: #fff; }

.slick-slide {
  outline: none; }
  .slick-slide:focus, .slick-slide:active, .slick-slide:hover {
    outline: none; }

.main-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.container {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 748px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1220px; } }

.container-content {
  padding: 0 0 0 10px; }

.main-navigation {
  padding: 0 30px;
  height: 60px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f7f7f7; }
  .main-navigation__logo {
    width: 203px;
    height: 21px;
    background: url(../images/Logo.jpg) no-repeat 0 0; }
  .main-navigation__page-title {
    margin-left: 30px;
    font-size: 22px;
    color: #36383c; }
  .main-navigation__list {
    margin-left: 115px; }
  .main-navigation__send-request {
    margin-left: 45px; }
  .main-navigation__user-profile {
    margin-left: 15px; }

.header-profile {
  display: flex; }
  .header-profile > li {
    margin-left: 15px; }

.nav-list {
  display: flex; }
  .nav-list > li {
    margin-right: 30px; }
    .nav-list > li:last-child {
      margin-right: 0; }
    .nav-list > li > a {
      color: #36383c;
      border-bottom: 2px solid #ebebeb;
      text-decoration: none;
      height: 18px;
      font-size: 15px;
      padding-bottom: 1px;
      font-weight: 500; }
      .nav-list > li > a:hover {
        border-bottom-color: #36383c; }

.type-navigation {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .type-navigation__list {
    display: flex;
    justify-content: space-between; }
    .type-navigation__list > li:first-child > .type-navigation__item {
      padding-left: 30px; }
    .type-navigation__list > li:last-child > .type-navigation__item {
      padding-right: 30px; }
  .type-navigation__item {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    text-decoration: none; }
    .type-navigation__item > .icon {
      width: 40px;
      height: 45px;
      margin-right: 15px;
      fill: #ffa53b;
      stroke: #ffa53b; }
      .type-navigation__item > .icon.is-pen > .icon:first-child, .type-navigation__item > .icon.is-rip > .icon:first-child {
        display: inline-block; }
      .type-navigation__item > .icon.is-pen > .icon:last-child, .type-navigation__item > .icon.is-rip > .icon:last-child {
        display: none; }
    .type-navigation__item > .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      color: #36383c;
      text-decoration: none; }
    .type-navigation__item.is-active {
      background: #ffa53b; }
      .type-navigation__item.is-active .title {
        color: #fff; }
      .type-navigation__item.is-active > .icon {
        fill: #fff;
        stroke: #fff; }
      .type-navigation__item.is-active.is-pen > .icon:first-child, .type-navigation__item.is-active.is-rip > .icon:first-child {
        display: none; }
      .type-navigation__item.is-active.is-pen > .icon:last-child, .type-navigation__item.is-active.is-rip > .icon:last-child {
        display: inline-block; }

.header {
  margin: 20px 0; }

.map, #map {
  height: 690px;
  width: 100%; }

.footer {
  width: 100%;
  margin-top: 40px; }
  .footer__panel {
    display: flex;
    justify-content: center; }
  .footer__panel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px; }
    .footer__panel-container .copyr, .footer__panel-container .terms, .footer__panel-container .hardpepper {
      display: flex; }
    .footer__panel-container .copyr {
      font-size: 16px; }
      .footer__panel-container .copyr > .c-link {
        margin-left: 10px; }
    .footer__panel-container .terms {
      font-size: 12px; }

.map {
  position: relative; }
  .map__wrapper {
    position: absolute;
    width: 430px;
    height: 620px;
    margin-left: 170px;
    box-shadow: -8.356px 9.959px 40px 0px rgba(0, 0, 0, 0.004);
    border-radius: 8px;
    left: 50%;
    top: 35px;
    background: #fff;
    padding: 40px 35px; }
    .map__wrapper .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 30px; }
    .map__wrapper .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px; }
    .map__wrapper .alert {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      color: #ffa53b;
      margin-top: 30px;
      margin-bottom: 5px; }
    .map__wrapper .btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px; }
      .map__wrapper .btns > span {
        font-weight: bold;
        font-size: 20px; }
      .map__wrapper .btns > .c-btn, .map__wrapper .btns > .c-btn-param {
        font-size: 14px;
        width: 150px; }
    .map__wrapper ul > li {
      font-weight: bold;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 20px; }
      .map__wrapper ul > li > span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: #86888a;
        margin-bottom: 5px; }

.c-btn, .c-btn-param {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
  background: #fff;
  border: 2px solid #ffa53b;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #36383c;
  padding: 0 15px;
  border-radius: 5px;
  transition: 0.2s ease-in; }
  .c-btn.is-white, .is-white.c-btn-param {
    background: #fff;
    color: #ffa53b; }
    .c-btn.is-white:hover, .is-white.c-btn-param:hover {
      background-color: #f2f2f2; }
  .c-btn.is-orange, .is-orange.c-btn-param {
    background: #ffa53b;
    color: #fff; }
    .c-btn.is-orange:hover, .is-orange.c-btn-param:hover {
      background: #ffb248; }
    .c-btn.is-orange:active, .is-orange.c-btn-param:active {
      background: #ef962e; }
  .c-btn.is-orange-border, .is-orange-border.c-btn-param {
    background: #fff;
    border: 2px solid #ffa53b;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #36383c;
    padding: 0 15px;
    border-radius: 5px;
    transition: 0.2s ease-in; }
    .c-btn.is-orange-border:hover, .is-orange-border.c-btn-param:hover {
      background: #fff2e2; }

.c-btn-param {
  border-width: 1px;
  border-color: #e1e3e6;
  border-style: solid;
  border-radius: 3px;
  height: 32px;
  padding: 0 5px; }
  .c-btn-param:hover {
    background: #f7f8fa; }
  .c-btn-param.is-select {
    width: 55px;
    padding-right: 0;
    padding-left: 3px; }
  .c-btn-param.is-active {
    border: 2px solid #ffa53b; }

.c-link {
  display: flex;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px; }
  .c-link:after {
    content: '';
    position: absolute;
    display: flex;
    border-bottom: 1px solid #fff;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box; }
  .c-link.is-orange {
    color: #ffa53b; }
    .c-link.is-orange:after {
      border-bottom: 1px solid #ffa53b; }

.svg-icon-lib {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.icon {
  font-size: 10px;
  fill: #fff; }

.c-icon.is-user > .icon {
  width: 15px;
  height: 17px; }

.c-icon.is-basket > .icon {
  width: 15px;
  height: 17px; }

.c-icon.is-basket.is-non-empty {
  position: relative; }
  .c-icon.is-basket.is-non-empty:after {
    content: '';
    position: absolute;
    background: #2ebc67;
    border: 2px solid #fff;
    box-sizing: border-box;
    top: -5px;
    right: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%; }

.c-checkbox {
  position: relative;
  display: flex;
  align-items: center; }
  .c-checkbox > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 111; }
    .c-checkbox > input:checked + label {
      color: #36383c; }
      .c-checkbox > input:checked + label:before {
        background-image: url(../images/check.png);
        background-position: center center;
        background-color: #ffa53b;
        background-repeat: no-repeat;
        border-color: #ffa53b; }
  .c-checkbox > label {
    display: flex;
    align-items: center;
    color: rgba(54, 56, 60, 0.8);
    font-size: 12px; }
    .c-checkbox > label:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 2px;
      border-width: 1px;
      border-color: #e3e4e6;
      border-style: solid;
      margin-right: 12px; }

.form-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column; }

.form-label {
  color: #898a8c;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 7px;
  text-transform: uppercase; }

.form-control {
  height: 44px;
  padding: 0 20px;
  font-size: 12px;
  background: #f5f6f7;
  border: 1px solid #f5f6f7;
  color: #36383c;
  border-radius: 3px; }
  .form-control:focus {
    border-color: #ffa53b;
    outline: none; }
  .form-control.is-error {
    border-color: #ff0000; }
  .form-control.is-success {
    border-color: #2ebc67; }
  .form-control.is-textarea {
    resize: none;
    height: 100px; }

.Rounded_Rectangle_867 {
  border-width: 1px;
  border-color: #2ebc67;
  border-style: solid;
  border-radius: 3px;
  position: absolute;
  left: 774px;
  top: 387px;
  width: 383px;
  height: 44px;
  z-index: 852; }

.slider-add {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  height: 321px;
  display: flex;
  justify-content: space-between; }
  .slider-add:after {
    content: '';
    border-radius: 8px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 222;
    top: 0;
    left: 0; }
  .slider-add__best-price {
    position: relative;
    z-index: 999;
    padding: 35px; }
  .slider-add__best-price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    border-width: 6px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-radius: 8px;
    color: #fff; }
    .slider-add__best-price-wrapper .title {
      font-size: 22px;
      margin-bottom: 10px; }
    .slider-add__best-price-wrapper .price {
      font-size: 32px;
      font-weight: bold; }
    .slider-add__best-price-wrapper .price-currency {
      font-size: 14px;
      font-weight: 400; }
    .slider-add__best-price-wrapper .rating {
      display: flex;
      margin-top: 10px; }
      .slider-add__best-price-wrapper .rating > .star {
        margin: 0 2px;
        width: 13px; }
        .slider-add__best-price-wrapper .rating > .star > .icon {
          width: 13px;
          height: 13px; }
    .slider-add__best-price-wrapper .btn > .c-btn, .slider-add__best-price-wrapper .btn > .c-btn-param {
      padding: 0 45px;
      margin: 20px 0 0; }
  .slider-add__wrapper {
    position: relative;
    z-index: 999;
    padding: 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .slider-add__wrapper .label {
      background: #fff;
      padding: 8px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px; }
    .slider-add__wrapper .title {
      margin: 20px 0 25px;
      font-weight: bold;
      font-size: 40px;
      color: #fff; }
  .slider-add__description {
    display: flex; }
  .slider-add__list {
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.35); }
    .slider-add__list:first-child {
      border: none;
      padding-left: 0; }
    .slider-add__list .list-title {
      position: relative;
      display: block;
      padding: 10px 0 10px;
      font-weight: bold;
      text-transform: uppercase; }
      .slider-add__list .list-title:before {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background: #ffa53b;
        top: 0;
        left: 0;
        position: absolute; }
    .slider-add__list .item {
      margin: 10px 0 0; }

.c-popup {
  max-width: 465px;
  border-radius: 8px;
  padding: 40px;
  text-align: left; }
  .c-popup .remodal-close {
    left: auto;
    right: 0;
    color: #ffa53b; }
  .c-popup .garant {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(54, 56, 60, 0.8);
    height: 50px;
    display: flex;
    align-items: center; }
    .c-popup .garant > .icon {
      width: 21px;
      height: 26px;
      margin-right: 15px; }

.content__title {
  display: flex;
  align-items: center; }
  .content__title > .icon {
    width: 33px;
    height: 43px;
    margin-right: 20px; }
  .content__title h3 {
    opacity: 0.7;
    font-size: 12px;
    font-weight: bold;
    margin: 0; }
  .content__title h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 2px 0 0; }
  .content__title h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 30px; }
  .content__title h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px; }
    .content__title h4.has-margin {
      margin-top: 20px; }

.content__block {
  margin-top: 30px;
  padding: 0 50px;
  border-radius: 8px;
  background-color: white;
  box-shadow: -8.356px 9.959px 40px 0px rgba(0, 0, 0, 0.04); }

.calculator-param-group {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  .calculator-param-group__title {
    width: 90px;
    font-size: 12px;
    color: #36383c; }
  .calculator-param-group__btns {
    display: flex; }
    .calculator-param-group__btns > .c-btn-param {
      margin: 0 7px;
      white-space: nowrap; }

.calculator__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

.calculator__column {
  padding: 30px 0;
  box-sizing: border-box; }
  .calculator__column.is-right {
    background: #fff;
    min-width: 560px;
    width: 560px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: -8.356px 9.959px 40px 0px rgba(0, 0, 0, 0.04);
    box-sizing: border-box; }

.calculator__form {
  position: relative; }

.calculator__graph .table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }
  .calculator__graph .table > .column {
    display: flex;
    flex-direction: column;
    width: 70px;
    border-left: 1px solid #e1e3e6; }
    .calculator__graph .table > .column .best-price {
      display: none; }
    .calculator__graph .table > .column.head {
      width: 100px;
      border-left: 0px solid #e1e3e6; }
      .calculator__graph .table > .column.head > .row {
        justify-content: flex-start;
        color: #727376; }
    .calculator__graph .table > .column:last-child {
      border-right: 1px solid #e1e3e6; }
    .calculator__graph .table > .column > .row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px; }
    .calculator__graph .table > .column.is-best-price {
      border: 1px solid #ffa53b;
      border-radius: 6px; }
      .calculator__graph .table > .column.is-best-price + .column {
        border: none; }
      .calculator__graph .table > .column.is-best-price .best-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        margin-top: -10px; }
        .calculator__graph .table > .column.is-best-price .best-price > .rating {
          display: flex;
          justify-content: center;
          margin-bottom: 6px; }
          .calculator__graph .table > .column.is-best-price .best-price > .rating > .star {
            width: 9px;
            height: 9px;
            margin: 0 1px; }

.calculator-orange-form {
  position: relative;
  border-radius: 8px;
  background-color: #ffa53b;
  box-shadow: -8.356px 9.959px 40px 0px rgba(0, 0, 0, 0.04);
  width: auto;
  margin: 30px 0;
  margin-left: -10px;
  margin-right: -570px;
  padding: 30px;
  color: #fff; }
  .calculator-orange-form .row {
    display: flex;
    align-items: center;
    margin: 20px 0 0; }
    .calculator-orange-form .row .c-btn, .calculator-orange-form .row .c-btn-param {
      margin-left: 70px;
      height: 50px;
      padding: 0 30px;
      border-radius: 8px; }
    .calculator-orange-form .row .price-one, .calculator-orange-form .row .price-total {
      margin: 0 0 0 45px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .calculator-orange-form .row .price-one > span, .calculator-orange-form .row .price-total > span {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase; }
        .calculator-orange-form .row .price-one > span:first-child, .calculator-orange-form .row .price-total > span:first-child {
          font-size: 12px;
          margin-bottom: 10px; }
    .calculator-orange-form .row .price-total > span {
      font-size: 34px; }
      .calculator-orange-form .row .price-total > span:first-child {
        margin-bottom: 0px; }
    .calculator-orange-form .row a.link {
      display: block;
      position: relative;
      color: #fff;
      text-decoration: none;
      padding-bottom: 3px;
      margin: 0 20px;
      overflow: hidden; }
      .calculator-orange-form .row a.link:first-child {
        margin-left: 0; }
      .calculator-orange-form .row a.link:after {
        content: '';
        position: absolute;
        display: flex;
        border-bottom: 1px solid #fff;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0 24px;
        box-sizing: border-box; }
      .calculator-orange-form .row a.link:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 14px;
        height: 14px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
      .calculator-orange-form .row a.link.is-pdf:before {
        background-image: url(../images/svg/Icon-pdf.svg); }
      .calculator-orange-form .row a.link.is-print:before {
        width: 14px;
        background-image: url(../images/svg/Icon-print.svg); }
  .calculator-orange-form__input {
    position: relative; }
    .calculator-orange-form__input > input {
      box-shadow: none;
      border: none;
      background: none;
      height: 50px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.102);
      padding: 18px 18px 18px 170px;
      width: 240px;
      font-size: 16px;
      font-weight: bold;
      color: #fff; }
      .calculator-orange-form__input > input:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.15); }
    .calculator-orange-form__input > label {
      position: absolute;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      width: 170px;
      height: 100%;
      top: 0;
      left: 0;
      padding-left: 20px;
      z-index: 111;
      font-size: 10px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }

.calculator-additional {
  padding: 25px 30px 30px;
  border-radius: 6px;
  background-color: #f5f6f7; }
  .calculator-additional__title {
    font-size: 28px;
    font-weight: bold;
    margin: 0; }
  .calculator-additional__blocks {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
    .calculator-additional__blocks > .column {
      width: 50%; }
      .calculator-additional__blocks > .column .title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 25px;
        text-transform: uppercase; }
      .calculator-additional__blocks > .column .text {
        padding: 13px;
        font-size: 12px;
        color: #727376;
        background: #fff;
        border-radius: 6px;
        line-height: 1.5; }
        .calculator-additional__blocks > .column .text a {
          color: #ffa53b;
          display: block;
          margin-top: 5px;
          font-weight: bold; }
  .calculator-additional__list > li {
    padding: 6px 0; }

.characteristics {
  display: flex;
  flex-direction: column; }
  .characteristics__groups {
    display: flex;
    flex-wrap: wrap; }
  .characteristics__column {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    margin-bottom: 30px; }
  .characteristics__item {
    margin: 10px 0;
    font-size: 13px; }
    .characteristics__item.is-title {
      font-weight: bold;
      text-transform: uppercase; }
    .characteristics__item .name {
      color: #727376; }

.title-with-line {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 13px;
  position: relative; }
  .title-with-line:before {
    content: '';
    display: block;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 1px;
    top: 0;
    left: 2px;
    width: 30px;
    height: 5px;
    background-color: #ffa53b; }

.designs {
  height: 260px;
  display: flex;
  align-items: center;
  background: url(../images/designs-bg.png) no-repeat -45px center, #fff;
  justify-content: space-between; }
  .designs__subtitle {
    font-size: 16px; }
  .designs__list {
    height: 100%;
    display: flex;
    align-items: center; }
    .designs__list > .img {
      width: 136px;
      height: 163px;
      background: url(../images/design-book.png) no-repeat 0 0;
      margin-left: 30px; }

.delivery {
  padding: 50px;
  display: flex;
  flex-direction: column; }
  .delivery__block {
    background-color: #f5f6f7;
    background-image: url(../images/delivery.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 50px 130px 50px 200px;
    margin: 30px 0 40px; }
    .delivery__block .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px; }
    .delivery__block .text {
      font-size: 16px; }
  .delivery__title > h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; }
  .delivery__columns {
    display: flex; }
  .delivery__column {
    display: flex;
    flex-direction: column;
    width: 50%; }
  .delivery__list {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }
    .delivery__list > li {
      font-size: 16px;
      padding-left: 30px;
      line-height: 1.5;
      font-weight: 400;
      position: relative;
      margin-bottom: 40px; }
      .delivery__list > li:before {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 16px;
        height: 3px;
        background-color: #ffa53b; }
      .delivery__list > li b {
        font-weight: bold; }
      .delivery__list > li > ul > li {
        display: flex;
        align-items: center; }
        .delivery__list > li > ul > li .c-link {
          margin: 0 7px; }
        .delivery__list > li > ul > li:before {
          content: '';
          display: block;
          margin-right: 10px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #ffa53b; }

.delivery-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px; }
  .delivery-block > .icon {
    width: 74px;
    height: 50px; }
  .delivery-block > .content {
    font-size: 16px;
    padding-left: 35px; }
    .delivery-block > .content .title {
      font-weight: bold;
      margin-bottom: 14px; }
    .delivery-block > .content .text {
      font-weight: 400;
      font-size: 16px; }
